{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container p-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row my-auto m-0 p-0 hero">
    <div class="col-7 col-md-6 my-auto">
        <div class="my-5 text-center">
            <h4>
                <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 text-uppercase py-3">Shop Now</a>
            </h4>
        </div>
    </div>    
</div>
<div class="container mt-3 mb-5 pb-5">
    <h3 class="logo-font text-center">Welcome to Brainworks.</h3>
    <hr>
    <div class="row text-center mb-1">
        <p class="text-center">We hope you enjoy your visit. Feel free to browse our store and if you have any questions or comments
        feel free to <a href="https://us20.list-manage.com/contact-form?u=9142de108dd6f7d48ec8da24c&form_id=12423e89d171805bcbc6d4418d942f4c" target="_blank">contact us.</a>
        </p>
    </div>
    <br>
    <div class="row mb-1">
        <p class="px-2">A brainteaser is a type of riddle that makes one think outside the box. Some brainteasers are easy, some are a little 
        harder, and some can really make you ponder for a while. Often, when you finally hear the answer, you feel ignorant or 
        silly, because it should have been obvious to you. However, brainteasers are fun so we keep pushing ourselves!</p>
    </div>
    <div class="row mb-1 px-2">
        <p>If you enjoy pushing your limits then check out the below websites for information and some fun riddles to tease your
        friends and family!</p>
    </div>
    <div class="row mb-5">
        <div>
            <ul>
                <li>
                    <p class="mb-1">Have a look at the <a href="https://en.wikipedia.org/wiki/Brain_teaser" rel="noopener">Wiki page</a> for information about brainteasers.</p>
                </li>
                <li>
                    <p class="mb-1">Check out <a href="https://www.braingle.com/brainteasers/" rel="noopener">Braingle</a> for a daily brainteaser and a whole lot more!</p>
                </li>
                <li>
                    <p class="mb-1"><a href="https://icebreakerideas.com/riddles/" rel="noopener">Icebreaker Ideas</a> has hundreds of riddles for both young and old.</p>
                </li>
                <li>
                    <p class="mb-1">Try out the <a href="https://www.mensa.org.uk/workout" rel="noopener">Mensa workout!</a></p>
                </li>
                <li>
                    <p class="mb-1">Have a look at <a href="https://www.rd.com/list/brain-teasers/" rel="noopener">Readers Digest 58 riddles</a> designed to bamboozle.</p>
                </li>
                <li>
                    <p class="mb-1"><a href="https://sharpbrains.com/" rel="noopener">Sharpbrains</a> has lots of interesting information as well as fun teasers, riddles and tests for you to try out.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}