{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-5 pb-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h3 class="logo-font">Brainteasers and riddles</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4 p-3 ml-2 border border-rounded">
            <div>
                <p>I have no voice, yet I speak to you. I tell of all things in the world 
                    that people do.I have leaves, but I am not a tree.I have pages, but 
                    I am not a bride.I have a spine, but I am not a man.I have hinges, 
                    but I am not a door.I have told you all. I cannot tell you more.
                    What am I?</p>
            </div>
            <div class="text-center">
                <button onclick="toggleButton1()" id="answerButton1" class="btn btn-black rounded-0">Show Answer</button>
            </div>
            <div class="text-center mt-3">
                <p id="answer" class="text-success font-weight-bold">A book!</p>
            </div>
        </div>
        <div class="col-4 p-3 ml-2 border border-rounded">
            <div>
                <p>Crime Scene: A large wooden box was built with one door. The door was locked from the inside, and 
                    then nailed shut from the inside. The police break into the room. In the middle of the room there 
                    is a dead man hanging from the ceiling, with his shoes 3 feet off the ground. The only other thing 
                    in the room is a hammer lying in a puddle of water. Can you explain what happened?</p>
            </div>
            <div class="text-center">
                <button onclick="toggleButton2()" id="answerButton2" class="btn btn-black rounded-0">Show Answer</button>
            </div>
            <div class="text-center mt-3">
                <p id="answer2" class="text-success font-weight-bold">He committed suicide by hanging himself when the ice melted.</p>
            </div>
        </div>
        <div class="col-4 p-3 ml-2 border border-rounded">
            <div>
                <p>A man is looking at a photograph of someone. His friend asks who it is. The man replies, “Brothers and 
                    sisters, I have none. But that man’s father is my father’s son.” Who was in the photograph?</p>
            </div>
            <div class="text-center">
                <button onclick="toggleButton3()" id="answerButton3" class="btn btn-black rounded-0">Show Answer</button>
            </div>
            <div class="text-center mt-3">
                <p id="answer3" class="text-success font-weight-bold">His son.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		function toggleButton1() {
            var answer1 = document.getElementById('answer1');
            var displaySetting = answer1.style.display;
            var answerButton1 = document.getElementById('answerButton1');
            if (answer1.style.display == 'block') {
                answer1.style.display = 'none';
                answerButton1.innerHTML = 'Show answer';
            } else {
                answer1.style.display = 'block';
                answerButton1.innerHTML = 'Hide answer';
            }
        }

        function toggleButton2() {
            var answer2 = document.getElementById('answer2');
            var displaySetting = answer2.style.display;
            var answerButton2 = document.getElementById('answerButton2');
            if (answer2.style.display == 'block') {
                answer2.style.display = 'none';
                answerButton2.innerHTML = 'Show answer';
            } else {
                answer2.style.display = 'block';
                answerButton2.innerHTML = 'Hide answer';
            }
        }

        function toggleButton3() {
            var answer3 = document.getElementById('answer3');
            var displaySetting = answer3.style.display;
            var answerButton3 = document.getElementById('answerButton3');
            if (answer3.style.display == 'block') {
                answer3.style.display = 'none';
                answerButton3.innerHTML = 'Show answer';
            } else {
                answer3.style.display = 'block';
                answerButton3.innerHTML = 'Hide answer';
            }
        }
	</script>
{% endblock %}