{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5 mt-xl-5 mt-lg-1">
                <h2 class="logo-font">Our Blog</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <p>Test</p>
            {% for blog in blogs %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <img class="card-img-top img-fluid" src="{{ blog.image }}" alt="{{ blog.title }}">
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ blog.title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>            
    </div>
{% endblock %}