{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5 mt-xl-5 mt-lg-1">
                <h2 class="logo-font">{{ blog.title }}</h2>
                <hr>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="">
                    <p>{{ blog.text | linebreaks }}</p>
                    <p class="mb-0"><small>{{ blog.date_authored }}</small></p>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12 mb-5">
                <h5>Comments:</h5>
                {% for comment in comments %}
                <div>
                    <p class="mb-0">{{ comment.text }}</p>
                    <p><small>{{ comment.author }} | {{ comment.date_created }}</small></p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row mb-5">
            <div class="col-12 mb-5">
                <h5>Leave a comment here:</h5>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-black rounded-0 text-uppercase float-right mb-5">Submit</button>
                </form>
            </div>
        </div>
        {% endif %}      
    </div>
{% endblock %}