{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col text-center mt-5 mt-xl-5 mt-lg-1">
                <h2 class="logo-font">Our Blogs</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card h-100 border-0">
                        {% if blog.image %}
                        <a href="{% url 'blog_detail' blog.id %}">
                            <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'blog_detail' blog.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ blog.title }}</p>
                            <p class="mb-0 text-right"><small>{{ blog.date_authored }}</small></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
            {% endfor %}    
        </div>            
    </div>
{% endblock %}